.space{
    flex: 1 1 auto;
}
mat-toolbar{
    background:darkred;
}
a{
    margin: 0px 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:white;
    text-shadow: 1px 1px 2px black;
    background: transparent;
}
a:hover{
    background:rgba(255,0,0,0.2);
    color:white;
    text-shadow: 1px 1px 2px gray;
}