.content{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
mat-card
{
    margin:100px;
    width:35%;
    box-shadow: 2px 2px 5px 2px darkgrey !important;

}
mat-card-content{
    padding: 0px 30px;
}
mat-card-header{
    text-align:center;
    display: block;
}
mat-card-actions{
    text-align: center;
}
.loginBtn{
    font-size: 18px;
    width: 20%;
    color:darkred;
    background: white;
}
.loginBtn:hover{
    background: darkred;
    color:white;

}
mat-card-actions li{
    padding-bottom: 10px;
}
mat-icon{
    cursor: pointer;

}
mat-form-field
{
    width: 100%;
}